{% extends "master.html"%}
{% block title %}Udarshodhak - A Real Body Detoxifier | Buy UdarShodhak Churna At Best Price in India | Ayurvedic Churna for Back Pain, Weight Loss, Headache | ayushmaanbhavah.com{% endblock %}
{% block content %}
{% block meta %}
<meta name="description" content="Looking for a Skin Disorder Ayurvedic Clinic in Ahmedabad? Ayushmaan Bhavah provides 100% ayurvedic treatment for thyroid, shirodhara, panchakarma, etc, with no side effects." />
<meta name="keywords" content="UdarShodhak Churna, UdarShodhak Churna At Best Price India, Ayurvedic UdarShodhak Churna, Ayurvedic Churna for Body Detoxifier, Ayurvedic Churna for Weight Loss, Ayurvedic Churna for Headache, Ayurvedic Churna for Chronic Constipation, Ayurvedic Churna for Hyper Acidity, Ayurvedic Churna for Gastritis, Ayurvedic Churna for Indigestion, Ayurvedic Churna for Retention of Urine, Ayurvedic Churna for Body Detoxifier" />
<link rel="canonical" href="https://www.ayushmaanbhavah.com/udarshodhak.html">
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, allow" />
<meta name="author" content="Ayushman Bhavah" />
{% endblock %}
{% load static %}
<div class="sub-banner-section">
  {% include 'header.html' %}
  <!-- SUB BANNER SECTION -->
</div>
<!-- ABOUT US SECTION -->
<section class="aboutpage_aboutus_section">
  <div class="container">
    <h2>Create User + Followup</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
        <!-- USER FORM -->
        <div class="box">
          <h2>User Details</h2>
          {{ user_form.as_p }}
        </div>
        <!-- FOLLOWUP FORM -->
        <div class="box">
          <h2>Patient Followup</h2>
          {{ followup_form.as_p }}
        </div>
      </div>
      <button type="submit">Save All</button>
    </form>
  </div>
</section>
<!-- FOOTER SECTION -->
{% endblock %}
