{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">About Us</h1>
                        <p data-aos="fade-right">The various Ayurveda treatments available at Ayushmaan Bhavah include Nadi Parikshan, Shirodhara, Abhyanga (Ayurveda Massage), Pancha Karma, etc. Each of these has its own healing properties and targets a specific set of symptoms. With these natural Ayurveda treatments, you can come out refreshed, rejuvenated and fully recharged to take on the challenges of life with unlimited vigor and vitality.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Home </span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> About</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- ABOUT US SECTION -->
<section class="aboutpage_aboutus_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="aboutpage_aboutus_image">
                    <figure class="mb-0"><img src="./assets/images/about_ayushman_bhavah.png" alt="" class="img-fluid" style="border-radius: 100px 20px;margin-left: 50px;"></figure>
                </div>
                <figure class="aboutus_top_shape left_shape mb-0">
                    <img src="./assets/images/aboutus_top_shape.png" alt="" class="img-fluid">
                </figure>
                <figure class="aboutus_bottom_shape left_shape mb-0">
                    <img src="./assets/images/aboutus_bottom_shape.png" alt="" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content">
                    <h5>About us</h5>
                    <h2>Take Your Health to the Next Level</h2>
                    <p>The pulls and pressures of today’s hectic lifestyle are many. Fortunately, India has the 5,000-year old medical system of Ayurveda, which can provide effective, holistic healing, covering all aspects of the body and mind. Traditional Ayurveda treatments have been instrumental in relieving stress and also in detoxification and rejuvenation. If you are looking for natural Ayurveda treatments, it would be worthwhile to explore the wide variety of relaxation and healing services available at Ayushmaan Bhavah (www.ayushmaanbhavah.com). This leading Ayurveda treatment clinic has two centers, one in Ahmedabad and another in Kuntighat, West Bengal.</p>
                    <p>Both the centers of Ayushmaan Bhavah are located in spacious properties, away from the hustle and bustle of the city. The clinic’s cool, serene ambience lets visitors experience the joys of peace and tranquility. Just being there relieves much of the stress and anxiety and initiates the process of healing.</p>
                    <p>The team of doctors that provides Ayurveda treatments is led by Ayurveda Ratna Vaidya Rameshwar Lal Sharma. Mr. Sharma has more than 60 years of experience in the field of Ayurveda and Ayurveda treatments. He has been awarded for his contributions to Ayurveda by the former home minister Lalkrishna Advani at the event of Ayurveda Mahasammelan. With regular practice of an Ayurveda way of life, Mr. R.L. Sharma remains as fit as a young person, even when he has reached 89 years of age. With Ayurveda, his mental faculties have also remained extremely sharp over the years, as can be seen when he recites hundreds of Sanskrit shlokas or when he speaks various vernacular languages such as Hindi, Gujarati, Bengali & Rajasthani. He has been a guiding light to many students in India.</p>
                    <p>Ayurveda treatments at Ayushmaan Bhavah work by targeting the root cause of bodily and mental health issues, thereby effectively providing relief from a wide variety of illnesses such as Gastrointestinal diseases, Lung diseases, Hematology disorder, Stone, Tumor, Arthritis, etc. At its core, the Ayurveda treatments seek to eliminate ‘Ama‘ or toxic substances from the body. These could accumulate due to various reasons such as weak digestion, stress, inadequate sleep, pollution, poor diet, etc. These create imbalance in the ‘Tri Dosha’, leading to build up of toxins that cause disease.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- DISCOUNT SECTION -->
<section class="discount_section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="discount_content">
                    <h2>Get <span>100%</span> Consulting free</h2>
                    <p>Doctor consulting is completely free on every Wednesday</p>
                    <div class="btn_wrapper">
                        <a href="./services.html" class="text-decoration-none get_started">Free Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OUR MISSION SECTION -->
<section class="mission_section">
    <div class="container">
        <div class="mission_box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
                    <div class="mission_content">
                        <h5>Shri rameshwar Lal Sharma</h5>
                        <h2>Ayurved Ratna</h2>
                        <ul>
                            <li>
                                Ayurved Mirth (ASF) Kolkata
                            </li>
                            <li>
                                Guru-Rashtriya Ayurved Vidyapith <br />
                                (Dept. Of Ayus. Govt. Of india)
                            </li>
                            <li>
                                Ayurved Vidyapith (Govt. Of India)
                            </li>
                            <li>
                                60 years experience of Ras Preparation, Bhasma and Kupi Pakva Rasayan.<br /><br /><br />
                            </li>
                        </ul>
                        <div class="btn_wrapper">
                            <a href="./pricing.html" class="text-decoration-none read_more_btn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="mission_image">
                        <figure class="mb-0"><img src="./assets/images/guruji_about_us.jpg" alt="" class="img-fluid" style="border-radius:200px 0;margin-top:100px;"></figure>
                    </div>
                </div>
            </div>
        </div>
        <figure class="mission_right_shape right_shape mb-0">
            <img src="./assets/images/our_mission_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>
<!-- OUR VISION SECTION -->
<section class="vision_section">
    <div class="container">
        <div class="vision_box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="vision_image">
                        <figure class="mb-0"><img src="./assets/images/sushma_tiwary_about_us.jpeg" alt="" class="img-fluid" style="border-radius:200px 0;margin-top:100px;"></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
                    <div class="vision_content">
                        <h5>Dr. Sushma Tiwary</h5>
                        <h2>Ayurvedacharya</h2>
                        <ul>
                            <li>
                                PGD Ras Shatra (CRAV) <br />
                                (Dept. Of Ayus. Govt. Of india)
                            </li>
                            <li>
                                BAMS (CU) Kolkata
                            </li>
                            <li>
                                18 years experience of Nadi Parikshana as ayurvedic consultant.
                            </li>
                            <li>
                                Shishya of Ayurved Ratna
                            </li>
                        </ul>
                        <div class="btn_wrapper">
                            <a href="./pricing.html" class="text-decoration-none read_more_btn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <figure class="vision_left_shape left_shape mb-0">
            <img src="./assets/images/our_vision_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>



{% include 'blog.html' %}

<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}