<!-- BLOG POSTS SECTION -->
<section class="blog_posts_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog_posts_content">
                    <h5>Blog Posts</h5>
                    <h2>Our News Feed</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="blog_posts_image position-relative">
                    <figure class="mb-0"><img src="./assets/images/blog_infertility.jpg" alt="" class="img-fluid" style="border-radius:100px 0;"></figure>
                    <div class="blog_posts_image_content">
                        <span>Infertility</span>
                        <h4> Can be defined as inability to conceive upto one year of marriage even after regular intercourse without use of any contraceptive.</h4>
                        <div class="icon_wrapper">
                            <a href="https://ayushmanbhavahayurveda.blogspot.com/2021/12/ayushman-bhavah-ayurvedic-treatment_14.html" class="text-decoration-none" target="_blank"><i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="blog_posts_image position-relative">
                    <figure class="mb-0"><img src="./assets/images/shirodhara_blog.jpg" alt="" class="img-fluid" style="border-radius:100px 0;"></figure>
                    <div class="blog_posts_image_content">
                        <span>Shirodhara</span>
                        <h4>Two words ‘shir’ which is head and ‘dhara’ which is sprinkling or pouring in a stream unites to form shirodhara.</h4>
                        <div class="icon_wrapper">
                            <a href="https://ayushmanbhavahayurveda.blogspot.com/2021/12/ayushman-bhavah-ayurvedic-treatment_45.html" target="_blank" class="text-decoration-none"><i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_wrapper">
            <a href="https://ayushmanbhavahayurveda.blogspot.com/" target="_blank" class="text-decoration-none view_blog">View All Blogs</a>
        </div>
        <figure class="blog_posts_left_shape left_shape mb-0">
            <img src="./assets/images/blog_posts_left_shape.png" alt="" class="img-fluid">
        </figure>
        <figure class="blog_posts_right_shape right_shape mb-0">
            <img src="./assets/images/blog_posts_right_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>