
<section class="footer-section" id="footer_section">
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-lg-block d-none">
                    <ul class="list-unstyled" style="align-items: center;">
                        <li>
                            <p><img src="/assets/images/original_transparent_logo_white.png" alt=""></p>
                        </li>
                        <li class="icons"><a href="https://www.facebook.com/profile.php?id=100089777445779" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li class="icons"><a href="https://www.youtube.com/@ayushmanbhavah6375" target="_blank"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a></li>
                        <li class="icons"><a href="https://www.instagram.com/ayushmanbhavahahm/" target="_blank"><i class="fa-brands fa-instagram mr-0" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="about_col">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-md-block d-none">
                    <div class="links_col">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="./index.html">Home</a>
                            </li>
                            <li>
                                <a href="./about.html">About Us</a>
                            </li>
                            <li>
                                <a href="./services.html">Services</a>
                            </li>
                            <li>
                                <a href="./team.html">Team</a>
                            </li>
                            <li>
                                <a href="./contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-sm-block d-none">
                    <div class="contact_col">
                        <h4>Contact Info</h4>
                        <ul class="list-unstyled">
                            <li class="contact_icons">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+918469260584" class="text-decoration-none">+91 8469260584</a>
                            </li>
                            <li class="contact_icons">
                                <i class="fa-sharp fa-solid fa-envelope"></i>
                                <a href="mailto:contact@ayushmaanbhavah.com" class="text-decoration-none">contact@ayushmaanbhavah.com</a>
                            </li>
                            <li class="mb-0">
                                <i class="fa-solid fa-location-dot location"></i>
                                <span>10 Jaswant Society, Satellite, Ahmedabad - 380015</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-portion">
        <div class="copyright col-xl-12">
            <p>Copyright {% now "Y" %}, Ayushmaanbhavah.com All Rights Reserved.</p>
        </div>
    </div>
    <div class="footer_shape right_shape">
        <figure class="mb-0"><img src="/assets/images/footer_shape.png" alt="" class="img-fluid"></figure>
    </div>
</section>