{% extends "master.html"%}
{% block title %}Dr Sushma Tiwary{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">DR. SUSHMA TIWARY</h1>
                        <p data-aos="fade-right"><strong>18+ Years of Nadi Parikshan</strong></p>
                        <p data-aos="fade-right"><strong>B.A.M.S (Calcutta University)</strong></p>
                        <p data-aos="fade-right"><strong>C.R.A.V (P.G.D in Ras Shatra) </strong> (Dept. Of Ayus, Govt. Of India)</p>
                        <p><strong>Certified through national academy of Ayurveda for Management of Skin Diseases.</strong></p>
                        <p data-aos="fade-right"><strong>Panchkarma Certified</strong></p>

                        <div class="btn_wrapper">
                            <span class="sub_home_span">About Us </span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Dr Sushma Tiwary</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/sushma_tiwary_vaidya.jpeg" alt="" class="img-fluid" style="border-radius:150px 0 150px 0;margin-top: 75px;"></figure><br /><br />
                <iframe width="350" height="300" src="https://www.youtube.com/embed/GCGAH5dPqoY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <p>1. Rajiv Gandhi Ayurvedic Hospital and College.<br/>
2. Patnanjali Arogya Kendra (Gauripur, Kolkata)<br/>
3. Actively engaged in Ayurveda Consultancy in Ahmedabad<br/>
4. Visiting faculty in Kolkata & Pune</p>
<br/>
                    <p>Vd. Sushma Tiwary, divinely blessed by her Guru Shri Rameshwarlal Sharma has gained & digested deep knowledge of ayurveda by working hard & doing practice at various aarogya kendras. She, by heart being a good and sensitive human being easily understands the pain of patients and hence her diagnosis always contains elements of truth. She read, discusses & doing regular experiments on certain ayurvedic medicines & diseases. Her through knowledge of human psychology helps her to understand & read the patient's mind.</p>
                    <p>Apart from being an ayurveda consultant Dr. Sushma Tiwary is a deep devotee of Lord Shiva & Lord Ganesha. Her spiritual attitude has brought divine light and compensation on her face and that is why patients always like to share with her about their pain & sorrow without any hesitation which is considered a very good quality of any chikitsak.

                    </p>
                    <p>Knowledge of ayurveda, always eager to learn, great balance of mind & soul, high quality aushadh preparation, love for humanity & above all always smiling face of Dr. Sushma, these all a qualities are the great asset of Ayusman Bhavah. So coming to Ayusman Bhavah is a great experience for any patient as they get relief, ray of hope to live better & at last a feeling of deep satisfaction</p>
                    <br />
                
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}