{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">ARTHRITIS</h1>
                        <p data-aos="fade-right">Arthritis refers to the diseases that cause pain, stiffness and inflammation of the joints. Arthritis is a debilitating disease and it adversely impacts the quality of life of the patient. It can affect various parts of the body such as knees, ankles, fingers, hands, hips, spine, etc. There are various types of arthritis and some of the most common ones are osteoarthritis, osteoporosis, rheumatoid arthritis, psoriatic arthritis, cervical spondylitis, fibromyalgia, gout, lupus, and back pain. Arthritis starts with mild symptoms and later transforms into a full-blown disease.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Treatments</span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Arthritis</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/treatments/arthritis.jpg" alt="" class="img-fluid" style="border-radius:50px 0 50px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <p>As per the western view, arthritis is caused due to wear and tear of the joints. Ayurveda delves deeper to unravel the root cause of arthritis, which is the imbalance in the doshas. Every individual is unique and the profile of their doshas is also unique. When unwanted substances or toxins accumulate in the body, they tend to harm the doshas. This in turn leads to various diseases, one of which is arthritis. The accumulation of toxins can occur due to various reasons such as eating cold, bitter, acidic foods; irregular meals; high level of stress and anxiety; traumatic events; frequent travelling; lack of proper sleep, use of drugs, etc. </p>
                    <p>The western view also believes that arthritis is not curable and requires surgery. Ayurveda offers a more holistic option to arthritis patients, as it focuses on providing long-term relief from pain and stiffness in the joints. Ayurvedic treatment for arthritis seeks to remove the existing toxins from the body. It also focuses on therapies and lifestyle changes that will reduce the production of toxic substances in the body. Certain Ayurvedic herbs and medicines are also used to provide relief to the patient. </p>
                    <p>Depending on the severity of the disease and the age and profile of the patient, arthritis can be effectively managed through Ayurvedic treatment. Many patients have been able to stabilize their condition whereas others have been able to reverse their arthritis. There are also patients who have achieved complete cure for their arthritis through Ayurvedic treatment. This is truly remarkable since such results are achieved without any type of surgical intervention. </p>
                    <p>Arthritis tends to aggravate with age, so the sooner you take action, the better it will be for your health and wellbeing. The initial symptoms may be mild, but you should not ignore these. Early diagnosis and Ayurvedic treatment can increase your chances of making a full recovery. Ayurveda treatment for arthritis will also ensure that you will be able to enjoy life in your old age and won’t have to become dependent on anyone. </p><br />
                    <h5>Here are some symptoms of hematological problems.</h5>
                   
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Osteoporosis</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Oseto Arthrities</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Cervical Spondylitis</span>
                        </div>
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Rheumatism</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Gout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}