{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">GASTROINTESTINAL</h1>
                        <p data-aos="fade-right">‘Gastrointestinal diseases’ is a collective term used to define the various diseases related to the gastrointestinal tract. The gastrointestinal tract comprises various body parts such as the esophagus, stomach, small intestine, large intestine and rectum. Problems with other body parts related to digestion such as the liver, pancreas and gallbladder can also lead to gastrointestinal diseases. The number of cases involving gastrointestinal diseases has increased in recent times, primarily due to stressful lifestyles, lack of physical exercise and dependence on junk food items. As per Ayurveda, these factors disturb the balance of the Vata, Pitta & Kapha, which are the primary life forces that define an individual's Prakṛiti (nature). The imbalance leads to various diseases such as gastrointestinal diseases.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Treatments </span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Gastrointestinal</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/treatments/gastrointestinal.jpg" alt="" class="img-fluid" style="border-radius:150px 0 150px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <p>
                        There are various types of gastrointestinal diseases such as constipation, indigestion, irritable bowel syndrome (IBS), diverticulitis, Crohn's disease, Celiac disease, acidity, gastrointestinal bleeding, diarrhea, etc. These diseases have debilitating symptoms that can affect the quality of life. People diagnosed with gastrointestinal diseases are likely to face difficulties in their personal life and professional pursuits. However, we are fortunate to have the great knowledge and wisdom of Ayurveda that can effectively treat a wide variety of gastrointestinal diseases. Ayurveda treatments not only provide instant relief, but are also beneficial in the long run, as they target and eliminate the root cause of gastrointestinal diseases.
                    </p>
                    <p>
                        In Ayurveda, one of the most commonly used therapies for treating gastrointestinal diseases is the Panchakarma. A Sanskrit word, Panchakarma is derived from the words 'pancha' meaning five and 'karma' meaning action. Collectively, Panchakarma refers to a five-pronged treatment approach that seeks to achieve the balance of the doshas - Vata, Pitta and Kapha. Panchakarma comprises five primary Ayurveda therapies such as Vamana (Emesis), Virechana (Purgation), Niroohavasti (Decoction enema), Nasya (Instillation of medicine through nostrils), and Anuvasanavasti (Oil enema). Panchakarma works by eliminating the toxins, strengthening the immune system and restoring the balance of the doshas. It heals from the inside to effectively treat a wide variety of gastrointestinal diseases.
                    </p>
                    <p>
                        Ayurveda treatments for gastrointestinal diseases have shown to provide long-lasting relief. Patients who have adhered to the recommended lifestyle changes have been able to achieve complete cure for their gastrointestinal problems. Focus on healthy diet such as fresh vegetables, fruits, whole grains, lentils, etc. has shown to be very beneficial for patients suffering from gastrointestinal diseases. Regular exercise or yoga is also recommended for people diagnosed with gastrointestinal diseases.
                    </p>
                    <p>
                        If you are experiencing gastrointestinal problems, it's recommended that you consult a registered Ayurveda practitioner. The Ayurveda doctor will conduct a thorough checkup and devise a personalized treatment plan based on your <strong><i>Prakṛiti</i></strong>. This is essential for achieving complete cure for your gastrointestinal problems.
                    </p>
                    <br>
                    <h5>Here are some symptoms of gastrointestinal problems.</h5>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Ulcerative Colitis</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Cirrhosis of Liver</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Hepatitis</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Jaundice</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Loss of Appetite</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Indigestion</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Diarrhoea</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Appendicitis</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Inguinal Hernia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Hyper Acidity</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Anorexia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Piles</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Constipation</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Gastritis</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}