{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">HEMATOLOGICAL DISORDER</h1>
                        <p data-aos="fade-right">Hematology Disorders are the diseases that affect the normal functioning of blood in the human body. As per Ayurveda, blood is considered as one of the ‘dhatus’ and referred to as ‘rakta dhatu’. Blood is also the ‘jiva’, the primary life force or elemental 'fire' that supplies fuel to the entire body. Blood comprises of four primary components - red blood cells, white blood cells, platelets and plasma. These perform various critical functions in the human body such as transporting oxygen, supplying nutrients to cells, blood clotting, transporting antibodies, transporting waste products, and maintaining body temperature. When the blood is unable to perform any of these functions, it is referred to as Hematology disorder.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Treatments</span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Hematological</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/treatments/hematological.jpg" alt="" class="img-fluid" style="border-radius:50px 0 50px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <h2>How Ayurveda Can Effectively Treat Hematological Disorders</h2>
                    <p>There are various types of Hematology disorders such as anemia, hemophilia, platelet disorder, and blood clots. Hematology disorders also include certain types of blood cancers such as myeloma, leukemia and lymphoma. Certain genetic diseases are also categorized as hematology disorders such as Thalassemia. In Ayurveda, certain types of common hematology disorders can be treated with a combination of ayurvedic treatment and ayurvedic medicines. Lifestyle changes are also recommended, as they help in achieving effective results. Ayurvedic treatments such as panchkarma can provide long-term relief to patients suffering from hematology disorders.</p>
                    <p>The type of Ayurvedic treatment for hematology disorder will depend on the doshas that make up an individual, symptoms of the disease and a detailed analysis of rakta dhatu. In case of a healthy person, the rakta dhatu produces the right amount of fire or life force. However, when an imbalance is created in the life force, either less or more, it leads to hematology disorders. Since blood is one of the seven dhatus as per Ayurveda, it has some basic characteristics such as flowing, unstable, dry, hot, sharp, etc. When there's excess of fire or life force in the blood, it creates excess heat in the body. On the other hand, if the fire or life force is diminished, it can make the body stiff and cold. Ayurvedic treatments for hematology disorders aim to restore the balance of the fire or life force in the rakta dhatu. </p>
                    <p>Hematology disorders can be very devastating since blood is the primary life force that powers the human body. These disorders can adversely impact your personal and professional life and may even be life threatening if left untreated. Some of the common symptoms associated with hematology disorders include fatigue, weakness, dizziness, pale skin, insomnia, leg cramps, inability to focus, shortness of breath, rapid heartbeat, etc. If you are experiencing any of these symptoms, it is recommended that you consult an Ayurveda doctor immediately. The Ayurveda doctor will conduct a thorough examination and prescribe the most appropriate ayurvedic treatment for the hematology disorder.</p>
                    <p>Children with mild hemophilia may not have symptoms until they have excessive bleeding from a dental procedure, an accident, or surgery. Males with severe hemophilia may bleed heavily after circumcision. Bleeding can be obvious (external bleeding) or hidden within the body (internal bleeding).</p><br />
                    <h5>Here are some symptoms of hematological problems.</h5>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Anemia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Platelets Disorder</span>
                        </div>
                    </div>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Leukemia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Thalassemia</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}