{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">MALE GENITAL ORGAN</h1>
                        <p data-aos="fade-right">There has been a significant increase in male sexual problems in recent times and it has often been attributed to stressful lifestyles, unhealthy food choices, and rising pollution. Cigarette smoking, consumption of alcohol and addiction to other drugs has also shown to cause disease of male genital organ. Other factors such as ageing, any traumatic events, preexisting diseases such as diabetes, obesity, hypothyroidism, etc., and certain medications can also cause male sexual problems. Such diseases create worry and embarrassment for patients and their relationships are also affected in an adverse manner. There have been cases where patients had gone into depression and/or displayed suicidal tendencies.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Treatments</span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Male Genital Organ</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/treatments/male-genital-organ.jpg" alt="" class="img-fluid" style="border-radius:50px 0 50px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <p>Disease of male genital organ can lead to frustrating experiences and it affects the quality of life. However, there's no reason to worry because one can get good results with Ayurvedic treatment. With the ancient wisdom of Ayurveda, patients can get long-term relief from various types of sexual problems such as erectile dysfunction, premature ejaculation, issues with semen, low sperm count, Hypoactive Sexual Desire Disorder (HSDD), etc. Ayurvedic treatment for disease of male genital organ has a high success rate and thousands of patients have benefited from it. </p>
                    <p>The thing that makes Ayurveda superior is that it focuses on eliminating the root cause. Wherever possible, Ayurvedic treatment seeks to achieve a complete cure rather than just providing temporary relief from symptoms. In case of disease of male genital organ, Ayurvedic treatment focuses on eliminating the underlying factors such as stress, anxiety, depression, etc. Various Ayurvedic therapies such as Panchkarma, Ayurveda massage, etc. are used to eliminate the underlying stress and anxiety. The patient’s sexual health improves naturally as the underlying problems are eliminated through Ayurveda treatment. </p>
                    <p>Ayurveda also has an extensive selection of herbs that are very effective in the treatment of male sexual problems. For example, the herb <strong style="color:#bf1e2e;"><i>Shilajit</i></strong> is very effective in treating infertility in men. <strong style="color:#bf1e2e;"><i>Shilajit</i></strong> increases sperm count and also boosts strength and stamina. Then, there's Pippali (Long Pepper), which is also effective in treating reproductive issues. There are various other herbs that can be used for the treatment of male sexual problems. </p>
                    <p>The best Ayurvedic treatment for disease of male genital organ will follow a holistic approach and use a combination of Ayurveda therapies, natural herbs, and lifestyle changes. The aim is to provide long-term relief to patients so that they can enjoy their life and stay away from worries and embarrassments. Most of the diseases of male genital organ are fully curable through Ayurveda treatment. </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}