{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">KIDNEY STONE</h1>
                        <p data-aos="fade-right">Kidney stone, also known as renal stone, is one of the most commonly occurring diseases. The demands of today’s stressful and fast-paced lifestyle have resulted in an increase in the incidence of kidney stone disease. Kidney stones occur when minerals and waste products are crystallized in the kidneys. The size of these crystallized stones can vary, ranging from small stones that are the size of a pinhead to larger stones that are the size of a grapefruit. Smaller stones may pass through the urinary tract unnoticed, but larger stones are most likely to get stuck and cause severe pain and even bleeding. The larger stones can fully or partially block the flow of urine, which is a painful experience for people.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Treatments</span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Stone</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/treatments/stone.jpg" alt="" class="img-fluid" style="border-radius:50px 0 50px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <h2>How Ayurveda Can Effectively Treat Kidney Stone</h2>
                    <p>As per Ayurveda, kidney stones are caused majorly due to stressful lifestyle and unhealthy food choices. Complete lack of physical activity and extreme physical activity can both increase the risk of kidney stones. Not drinking adequate amount of water is also a major contributor to the formation of kidney stones. Excessive intake of salt, oily foods, sweets, meat, fish and poultry can also lead to the formation of kidney stones. Increased consumption of alcoholic beverages, tea, and coffee has also been linked to the formation of kidney stones. Inadequate sleep and high levels of stress and anxiety can also contribute to the onset of kidney stone disease. </p>
                    <p>Ayurvedic treatment for kidney stones comprises a mix of Ayurveda therapies, Ayurvedic medicines, and lifestyle changes. Ayurvedic treatments such as panchkarma and Ayurveda massage seek to eliminate the underlying stress and anxiety. This in turn helps eliminate the urge for unhealthy foods. Ayurvedic treatments also refresh and rejuvenate the mind, body and soul, which prime our internal systems to start working in proper order. When our internal systems work in perfect harmony, the waste products are effectively removed from the body. This in turn reduces the risk of accumulation of waste products that can lead to the formation of kidney stones. </p>
                    <p>Ayurvedic treatments have also been effective in helping patients to adopt a healthy lifestyle. This includes adequate amount of physical activity every day and healthy food choices such as fresh fruits and vegetables, whole grains, lentils, nuts &amp; seeds, etc. Increasing water intake is also an important step that helps reduce the risk of kidney stones. </p>
                    <p>Men are more prone to kidney stones, as compared to women. The highest risk is for people in the age group of 30 to 50 years. If you are experiencing symptoms such as pain in the groin and/or side, continuous urge to urinate, burning sensation while urination, pus in urine, blood in urine, and nausea, its recommended that you consult an Ayurveda doctor immediately. Ayurvedic treatment, combined with lifestyle changes, can provide long-term benefits to patients suffering from kidney stones. </p><br />
                    <h5>Here are some symptoms of kidney stone problems.</h5>
                    <div class="box_wrapper">
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Gallbladder Stone</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Renal Stone</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}