{% extends "master.html"%}
{% block title %}Home | Yogastic{% endblock %}
{% block content %}
<div class="sub-banner-section">
    {% include 'header.html' %}
    <!-- SUB BANNER SECTION -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content">
                        <h1 data-aos="fade-up">BASTI</h1>
                        <p data-aos="fade-right">
                            Basti is one of the most powerful of all the main five procedures of Panchakarma. Charaka, as well as many other Ayurvedic scholars have unanimously praised the features of Basti. Basti is said to be equal to half of all the Ayurvedic treatments.</p>
                        <div class="btn_wrapper">
                            <span class="sub_home_span">Panchkarma</span><i class="fa-solid fa-angles-right" aria-hidden="true"></i><span class="sub_span"> Basti</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="banner_left_top_shape left_shape mb-0">
                <img src="./assets/images/banner_left_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_left_bottom_shape left_shape mb-0">
                <img src="./assets/images/banner_left_bottom_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_top_shape right_shape mb-0">
                <img src="./assets/images/banner_right_top_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="banner_right_bottom_shape right_shape mb-0">
                <img src="./assets/images/banner_right_bottom_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
</div>
<!-- CONTENT SECTION -->
<section class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <figure class="mb-0"><img src="./assets/images/panchkarma/basti.png" alt="" class="img-fluid" style="border-radius:50px 0 50px 0;margin-top: 75px;"></figure>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutpage_aboutus_content pt-4">
                    <p> Lipid soluble drugs are absorbed by passive diffusion and some of the active ingredients are absorbed through active transport. The bioavailability of the drug i.e the part of the drug which is able to produce an active effect on the body, will be higher when given as Basti. As per Ayurvedic classics Basti works as plant watered at its root & then root circulate it in all branches (su.ch.35/24-25). It has also been described as Ardha Chikitsa (Ch.si.1/39). i.e. half treatment for management of diseases.</p>
                    <p>
                        Basti have been categorised into various types according to type of ingredients action of Basti & number of Basti. Medicines/ ingredients used in Basti Karma are selected as per the condition of disease & condition of the patient. Basti is commonly used alone or along with Ayurveda medication, in all Vata Vyadhi (neurological disorders) & is also indicated in various diseases as Anaha (Distended Abdomen), Malavrodh (Constipation), Rajokshay (Amenorrhea), Adhman (Abdominal spasmodic Pain), Vatrakta (Gout), Pleeha (splenomegaly) Parshva graham (Slipped Disc), Prishta graham (Spondylosis), Akshepak (Paralysis) etc. It is also used for increasing weight in emaciated peoples (by Brihan Basti), & for reduce weight in obese (by Lekhan Basti). It can also be used in children as well but with utmost care under physician’s supervision.</p>
                    <p>
                        Basti Karma is broadly divided in two types according to the consistency of the drugs Sneha Basti(Anuvasan) and Niruha Basti (Aasthaapana) . In Sneha Basti/ Anuvasan Basti i.e. in this type medicated Oil/ Ghee, lipids are used, word Anuvasan indicates “To stay”, the administrated medicines stay inside for a longer duration, but still do not cause any untoward problem. In Niruha Basti/ Aasthaapana Basti, decoction of medicinal plants is the main content wherein other ingredients like honey, salt, lipids & other drugs are incorporated to form a colloid or a suspension. Word Niruha, indicates “To eliminate” or eliminate morbid Doshas or Disease from body, & its synonym word “Asthapan” indicates “establish life span & age </p>
                    <br />
                    <h5>Indication for Basti:</h5>
                    <div class="box_wrapper">
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Diverticulosis</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Nervous disorders</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Headaches</span>
                        </div>
                        <div class="box">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Insomnia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Arthritis</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Lumbago or slipped disc</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Sciatica</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Tinnitus</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Hernia</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Gout</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Rheumatism</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Constipation</span>
                        </div>
                    </div>
                    <br /><br />
                    <h5>Benefits of Basti Treatment</h5>
                    <div class="box_wrapper">
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>It is one of the best treatments for treating abnormal Vata. This includes lower back pain, gout, arthritis, chronic constipation, etc.</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>It benefits epilepsy, and also dysfunction of senses.</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Enhances the immune system of the individual by cleansing the Colon.</span>
                        </div>
                        <div class="box mr-0">
                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                            <span>Nourishes the base Prana of the body which is formed in the colon of the body.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION -->
{% include 'blog.html' %}
<!-- FOOTER SECTION -->
{% include 'footer.html' %}
{% endblock %}